<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898703096652-548mljkk1v1oac0vlj2ratdc58ba6qq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898703096652-548mljkk1v1oac0vlj2ratdc58ba6qq2</string>
	<key>API_KEY</key>
	<string>AIzaSyBxG3QFLRROevcjugJV0ANQEhoc0AU-LeA</string>
	<key>GCM_SENDER_ID</key>
	<string>898703096652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>None.Craic</string>
	<key>PROJECT_ID</key>
	<string>project4-7d2de</string>
	<key>STORAGE_BUCKET</key>
	<string>project4-7d2de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898703096652:ios:052da728dcbc63991c6de9</string>
	<key>DATABASE_URL</key>
	<string>https://project4-7d2de.firebaseio.com</string>
</dict>
</plist>